<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome page - mvn spring-boot:run</title>
	<div th:replace="layout/header :: header-css"/>
</head>
<body>
	<div th:replace="layout/header::header"/>

	<div th:if="${#httpServletRequest.remoteUser}">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	    <form th:action="@{/logout}" method="post">
	    	<input type="submit" value="Sign Out"/>
	    </form>
	</div>
	This is tutorial spring boot
	<div>Bikes list:</div>
	<ul th:each="bike : ${bikes}">
		<li th:text="${bike}"></li>
	</ul>
	<div>Bikes2 list:</div>
	<ul th:each="bike : ${bikes}">
		<li th:text="${bike}"></li>
	</ul>
	
	<div th:replace="layout/footer::footer" />
</body>
</html>